@model AdminViewModel

<h1>Admin</h1>

<p>Add Gaming Group</p>
<form action="/Admin/AddGroup" method="post">
    <label>Group Name</label>
    <input type="text" name="groupName" />

    <input type="submit" value="Add Group" />
</form>

@if ( Model.Groups.Count > 0 )
{
    <p>Add Player</p>
    <form action="/Admin/AddPerson" method="post">
        <label>First Name</label>
        <input type="text" name="firstName" />
        <label>Last Name</label>
        <input type="text" name="lastName" />
        <label>Email</label>
        <input type="email" name="email" />
        <select name="groupId">
            @foreach ( var group in Model.Groups )
            {
                <option value="@group.GroupId">@group.Name</option>
            }
        </select>

        <input type="submit" value="Add Person" />
    </form>

    <p>Add Game</p>
    <form action="/Admin/AddGame" method="post">
        <label>Game Name</label>
        <input type="text" name="gameName" />

        <select name="groupId">
            @foreach ( var group in Model.Groups )
            {
                <option value="@group.GroupId">@group.Name</option>
            }
        </select>

        <input type="submit" value="Add Game" />
    </form>
}

<p>Add Record</p>
@Html.LabelFor( m => m.RecordForm.SelectedGroupId )
@Html.DropDownListFor( m => m.RecordForm.SelectedGroupId, Model.RecordForm.GroupList, "-Please Select-" )
@Html.ValidationMessageFor( m => m.RecordForm.SelectedGroupId )

@Html.LabelFor( m => m.RecordForm.SelectedGameId )
@Html.DropDownListFor( m => m.RecordForm.SelectedGameId, Model.RecordForm.GameList, "-Please Select-" )
@Html.ValidationMessageFor( m => m.RecordForm.SelectedGameId )

@Html.LabelFor( m => m.RecordForm.SelectedPlayerId)
@Html.DropDownListFor( m => m.RecordForm.SelectedPlayerId, Model.RecordForm.PlayerList, "-Please Select-" )
@Html.ValidationMessageFor( m => m.RecordForm.SelectedPlayerId )


<h1>Your Groups</h1>
@foreach ( var group in Model.Groups )
{
    <div>
        <h3>@group.Name</h3>
        <h4>Players</h4>
        @if ( group.Players != null )
        {
            <ul>
                @foreach ( var player in group.Players )
                {
                    <li>@player.FirstName @player.LastName</li>
                }
            </ul>
        }

        <h4>Games</h4>
        @if ( group.Games != null )
        {
            <ul>
                @foreach ( var game in group.Games )
                {
                    <li>@game.Name</li>
                }
            </ul>
        }
    </div>
}

<h1>Your Group Records</h1>
@foreach ( var group in Model.Groups )
{
    <h3>@group.Name</h3>
    <ul>
        @foreach ( var record in Model.Records )
        {
            if ( record.Group.GroupId == group.GroupId )
            {
                <li>@record.Winner.FirstName @record.Winner.LastName - @record.Game.Name</li>
            }
        }
    </ul>
}

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous"></script>
<script>
   var url = '@Url.Action("FetchPlayers")';
    var employees = $('SelectedPlayers');
    $('#SelectedGroup').change(function() {
      employees.empty();
      if(!$(this).val()) {
        return;
      }
      employees.append($('<option></option>').val('').text('-Please select-'));
      $.getJson(url, { ID: $(this).val() }, function(data) {
        $.each(data, function(index, item) {
          employees.append($('<option></option>').val(item.ID).text(item.Text));
        });
      });
    });
</script>
