@model AdminViewModel
<h1>Admin</h1>

<p>Add Player</p>

<form action="/Admin/AddPerson" method="post">
    <label>First Name</label>
    <input type="text" name="firstName" />
    <label>Last Name</label>
    <input type="text" name="lastName" />
    <label>Email</label>
    <input type="email" name="email" />
    <select name="groupId">
        @foreach ( var group in Model.Groups )
        {
            <option value="@group.GroupId">@group.Name</option>
        }
    </select>

    <input type="submit" value="Add Person" />
</form>

<p>Add Gaming Group</p>
<form action="/Admin/AddGroup" method="post">
    <label>Group Name</label>
    <input type="text" name="groupName" />

    <input type="submit" value="Add Group" />
</form>

<p>Add Game</p>
<form action="/Admin/AddGame" method="post">
    <label>Game Name</label>
    <input type="text" name="gameName" />

    <select name="groupId">
        @foreach ( var group in Model.Groups )
        {
            <option value="@group.GroupId">@group.Name</option>
        }
    </select>

    <input type="submit" value="Add Game" />
</form>

<p>Add Record</p>
<form action="/Admin/AddRecord" method="post">
    <label>Select the group</label>
    <select>
        @foreach ( var group in Model.Groups )
        {
            <option value="@group.GroupId">@group.Name</option>
        }
    </select>

    @foreach ( var group in Model.Groups )
    {
        <label>Select the Game (@group.Name)</label>
        <select data-group-id="@group.GroupId" name="gameId">
            @foreach ( var game in group.Games )
            {
                <option value="@game.GameId">@game.Name</option>
            }
        </select>
    }

    @foreach ( var group in Model.Groups )
    {
        <label>Select the Winner (@group.Name)</label>
        <select data-group-id="@group.GroupId" name="winnerId">
            @foreach ( var player in group.Players )
            {
                <option value="@player.PlayerId">@player.FirstName</option>
            }
        </select>
    }

    <input type="submit" value="Add Record" />
</form>



<h1>Your Groups</h1>
@foreach ( var group in Model.Groups )
{
    <div>
        <h3>@group.Name</h3>
        <h4>Players</h4>
        @if ( group.Players != null )
        {
            <ul>
                @foreach ( var player in group.Players )
                {
                    <li>@player.FirstName @player.LastName</li>
                }
            </ul>
        }

        <h4>Games</h4>
        @if ( group.Games != null )
        {
            <ul>
                @foreach ( var game in group.Games )
                {
                    <li>@game.Name</li>
                }
            </ul>
        }
    </div>
}

<h1>Your Group Records</h1>
<ul>
    @foreach ( var record in Model.Records )
    {
        <li>@record.Winner.FirstName @record.Winner.LastName - @record.Game.Name</li>
    }
</ul>